<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.takeawayserver.mapper.EventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hb.takeawayserver.pojo.Event">
        <id column="id" property="id" />
        <result column="area" property="area" />
        <result column="detail" property="detail" />
        <result column="photo" property="photo" />
        <result column="start" property="start" />
        <result column="end" property="end" />
        <result column="shop_name" property="shop_name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, area, detail, photo, start, end, shop_name
    </sql>

</mapper>
